In [6]:
import json

f= open("example-1.json")
data = json.load(f)
# print(data)
data[1]['col-2']

4

In [2]:
import csv
with open('result.csv',mode="r") as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        print(row)

{'ï»¿"col-1"': '1', 'col-2': '2'}
{'ï»¿"col-1"': '3', 'col-2': '4'}
{'ï»¿"col-1"': '5', 'col-2': '6'}

In [4]:
import pandas as pd
df_from_json= pd.read_json("example-1.json")
df_from_json

   col-1  col-2
0      1      2
1      3      4
2      5      6

In [7]:
json_string = df_from_json.to_json()
json_string

'{"col-1":{"0":1,"1":3,"2":5},"col-2":{"0":2,"1":4,"2":6}}'

In [8]:
df_from_json= pd.read_json("example-2.json")
df_from_json

   col-1  col-2
0      1      2
1      3      4
2      5      6

In [11]:
df_from_csv= pd.read_csv("result.csv")
# df_from_csv= pd.read_csv("result.csv", header=None)
df_from_csv

   col-1  col-2
0      1      2
1      3      4
2      5      6

In [12]:
df_from_csv.to_csv("data.csv", index=None)