In [6]:
import pandas as pd

df_one=pd.DataFrame(columns=["col-1","col-2"])
df_one

Empty DataFrame
Columns: [col-1, col-2]
Index: []

In [7]:
df_one.columns=["first","second"]
df_one

Empty DataFrame
Columns: [first, second]
Index: []

In [8]:
new_data = {
    "first": [1,2,"foo"],
    "second": [3,4,"bar"]
}
df_two= pd.DataFrame(new_data)
df_two

  first second
0     1      3
1     2      4
2   foo    bar

In [9]:
data_for_one={
    "first": [5,5,"hello"],
    "second": [7,8,"world"]
}
df_one=pd.DataFrame(data_for_one)
df_conmbined=pd.concat([df_one,df_two])
df_conmbined.reset_index(drop=True, inplace=True)
df_conmbined

   first second
0      5      7
1      5      8
2  hello  world
3      1      3
4      2      4
5    foo    bar

In [10]:
column_data= {
    "third": ['a','b','c']
}
df_three=pd.DataFrame(column_data)
print(df_three)
df_combined=pd.concat([df_conmbined,df_three],axis=1)
df_conmbined

  third
0     a
1     b
2     c

   first second
0      5      7
1      5      8
2  hello  world
3      1      3
4      2      4
5    foo    bar